$breakpoints: (
  sm: 575px,
  md: 768px,
  lg: 991px,
  xl: 1200px,
);

@mixin respond($size) {
  @if map-has-key($breakpoints, $size) {
    @media (max-width: #{map-get($breakpoints, $size)}) {
      @content;
    }
  }
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
