@use '@/common/styles/mixins' as mixins;
@use '@/common/styles/variables' as variables;

.ad-wrapper {
  width: 100%;
  height: 500px;
  background: linear-gradient(90deg, #3a79f3 0%, #3a81ed 100%);
  .ad-section {
    @include mixins.flex(center, center);

    .ad-textarea {
      @include mixins.flex(center, left);
      flex-direction: column;
      margin-top: 325px;
      margin-right: 640px;
      margin-left: 50px;
      gap: 10px;

      .ad-title {
        font-weight: variables.$fw-bold;
        font-size: variables.$base + 12;
      }
      .ad-content {
        width: 400px;
        font-weight: variables.$fw-medium;
        font-size: variables.$base + 2;
      }
    }
  }
}
