@use '@/common/styles/mixins' as mixins;
@use '@/common/styles/variables' as variables;

.board-section {
  margin-top: 50px;
  width: 630px;
  background: var(--white);
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--border);
  margin-bottom: 50px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .board-header {
    background: linear-gradient(90deg, #00b3ff -43.33%, #0066ff 131.75%);
    border-radius: 10px 10px 0 0;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 24px;
      font-weight: variables.$fw-bold;
      color: var(--text-color);
    }

    .more-link {
      font-size: 16px;
      color: var(--text-color);
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .article-list {
    list-style: none;
    padding: 20px;
    margin: 0;
    a {
      display: flex;
      color: inherit;
      text-decoration: none;
    }
  }

  .article-item {
    align-items: center;
    padding: 12px 0;

    cursor: pointer;
    border-bottom: 1px solid #e0e6eb;
    transition: background-color 0.1s ease;

    &:hover {
      background: #f1f1f17f;
    }
    .article-text {
      display: flex;
      align-items: center;

      .image-icon {
        width: 18px;
        height: 18px;
      }

      .article-title {
        font-size: 16px;
        font-weight: variables.$fw-medium;
      }
    }

    .article-info {
      display: flex;
      font-size: 14px;
      color: var(--text-color);

      .icon {
        display: flex;
        align-items: center;
        margin-right: 10px;

        svg {
          margin-right: 4px;
        }
      }

      .like-icon {
        color: #00b3ff;
      }

      .comment-icon {
        color: #ff6b00;
      }

      .views {
        font-weight: variables.$fw-regular;
        font-size: 14px;
      }
    }
  }
}
