@use '@/common/styles/mixins' as mixins;
@use '@/common/styles/variables' as variables;

.hot-article-section {
  margin-top: 50px;
  width: 980px;
  padding: 32px;
  background: var(--white);
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--border);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.hot-topic-title {
  font-size: 26px;
  font-weight: variables.$fw-bold;
  color: var(--text-color);
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

.subtitle {
  font-size: 16px;
  font-weight: variables.$fw-bold;
  color: var(--text-color);
  margin-bottom: 40px;
  text-align: left;
  width: 100%;
}

.article-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  a {
    color: inherit;
    display: flex;
    text-decoration: none;
  }
}

.article-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: variables.$fw-medium;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  background: var(--white);
  border: 1px solid var(--border);
  border-radius: 5px;
  transition: background-color 0.1s ease;
  cursor: pointer;

  &:hover {
    background: #f1f1f17f;
  }
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
}

.article-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--text-color);

  .category {
    border-radius: 8px;
    border: 2px solid var(--main-alpha);
    padding: 3px 5px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: variables.$fw-regular;
    color: var(--text-color);
  }

  .image-indicator {
    font-size: 12px;
    color: #888;
  }

  .image-icon {
    width: 18px;
    height: 18px;
  }
}

.article-stats {
  display: flex;
  align-items: center;
  font-weight: variables.$fw-regular;
  font-size: 14px;
  color: var(--text-color);

  .icon {
    display: flex;
    align-items: center;
    margin-right: 10px;

    svg {
      margin-right: 4px;
    }
  }

  .like-icon {
    color: #00b3ff;
  }

  .comment-icon {
    color: #ff6b00;
  }
}
// .likes,
// .comments,
// .views {
// }
