@use '../common/styles/variables' as *;
@use '../common/styles/mixins' as *;
@use '../common/styles/reset' as *;
@use '../common/styles/colors' as *;

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size: 14px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body {
  background-color: var(--background);
  color: var(--text-color);
}
